

html, body{
	margin: 0;
	padding: 0;
}

html {
background: url(cat.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
background-color:#cccccc;
}

#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 40px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 5px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(1, 1, 1, 0.8);
}

#navigation a {
	font-size: 18px;
	padding-left: 0px;
	padding-right: 50px;
	list-style-type:none;
	text-align: left;
}

#navigation a:hover {
	color: #4DDBFF;
	text-decoration:underline;
}

#minidesc {
	/*padding: 5px 10px;*/
	/*margin: 0 auto;*/
    text-align: center;
    text-decoration: none;
    margin: 140px;
	vertical-align: center;
	color:#fff;
	font-size: 80px;
}

#minidesc a:hover {
	color: #4DDBFF;
}

#contentbox {
	margin: auto;
	padding: 10px;
	padding-top: 28px;
	width: 600px;
	background-color: rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	margin-bottom: 10px;
}

#content {
	font: "Calibri Light";
	color: #fff;
}

#content a:hover {
	color: #4DDBFF;
	text-decoration: underline;
}